﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Pride Admin</title>

    <link rel="stylesheet" href="~/admin/assets/plugins/morris/morris.css">
    <link href="~/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/css/responsive.css" rel="stylesheet" type="text/css"/>

    @await RenderSectionAsync("styles", required: false)

</head>

<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">
        @await Html.PartialAsync("_TopBar")
        @await Html.PartialAsync("_SideMenu")
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @TempData["Message"]
                        </div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="page-title m-b-10">@ViewData["Title"]</h4>
                            @if (ViewData["Description"] != null)
                            {
                                <p class="text-muted page-title-alt">@ViewData["Description"]</p>
                            }
                            
                        </div>
                    </div>

                    @RenderBody()
                </div> <!-- container -->
            </div> <!-- content -->
            <footer class="footer text-right">
                2015 © Pride.
            </footer>
        </div>
    </div>
    <!-- END wrapper -->
    
    <script>
            var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="~/admin/assets/js/jquery.min.js"></script>
    <script src="~/admin/assets/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/js/detect.js"></script>
    <script src="~/admin/assets/js/fastclick.js"></script>
    <script src="~/admin/assets/js/jquery.slimscroll.js"></script>
    <script src="~/admin/assets/js/jquery.blockUI.js"></script>
    <script src="~/admin/assets/js/waves.js"></script>
    <script src="~/admin/assets/js/wow.min.js"></script>
    <script src="~/admin/assets/js/jquery.nicescroll.js"></script>
    <script src="~/admin/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/admin/assets/plugins/peity/jquery.peity.min.js"></script>
    <!-- jQuery  -->
    <script src="~/admin/assets/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/admin/assets/plugins/counterup/jquery.counterup.min.js"></script>

    <script src="~/admin/assets/plugins/morris/morris.min.js"></script>
    <script src="~/admin/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/admin/assets/plugins/jquery-knob/jquery.knob.js"></script>

    @RenderSection("scripts", required: false)

    <script src="~/admin/assets/js/jquery.core.js"></script>
    <script src="~/admin/assets/js/jquery.app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });

            $(".knob").knob();

        });
    </script>

    


</body>
</html>