﻿<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Navigation</li>
                <li class="">
                    <a asp-controller="Home" asp-action="Index" class="waves-effect @(((string) ViewData["Menu"] == "Dashboard") ? "active": "")"><i class="ti-home"></i> <span> Dashboard </span> </a>
                </li>
                <li>
                    <a asp-controller="Stock" asp-action="Index" class="waves-effect @(((string) ViewData["Menu"] == "Stock") ? "active" : "")"><i class="ti-clipboard"></i><span> Stock </span> </a>
                </li>
                <li>
                    <a asp-controller="Dealer" asp-action="Index" class="waves-effect @(((string) ViewData["Menu"] == "Dealer") ? "active": "")"><i class="ti-crown"></i><span> Dealers </span> </a>
                </li>
                <li>
                    <a asp-controller="News" asp-action="Index" class="waves-effect"><i class="ti-bookmark-alt @(((string) ViewData["Menu"] == "News") ? "active": "")"></i><span>News</span> </a>
                </li>
                <li>
                    <a asp-controller="Media" asp-action="Index" class="waves-effect @(((string) ViewData["Menu"] == "Media") ? "active": "")"><i class="ti-image"></i><span>Media</span> </a>
                </li>
                <li class="">
                    <a href="#" class="waves-effect"><i class="ti-shopping-cart"></i><span>Orders</span> </a>
                </li>
                @await Component.InvokeAsync("CategoryList")
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->