﻿@model Category
@{
    ViewData["Title"] = Model.Name;
    ViewData["Menu"] = Model.Slug;
}
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading p-t-15 p-b-15">
        <a class="btn btn-primary waves-effect waves-light w-sm" asp-controller="ProductGroup" asp-action="Create" asp-route-categoryId="@Model.Id">
          <span class="btn-label">
            <i class="ion-plus-round"></i>
          </span>
          Add product group
        </a>
      </div>
    </div>
  </div>
</div>

@foreach (var group in Model.ProductGroup)
{
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading__controls">

            <h3 class="panel-title">@($"{group.Name}")</h3>
            <div class="panel-heading_sort">
              <form asp-controller="ProductGroup" asp-action="ChangeSort" style="display: inline-block;">
                <input type="hidden" name="id" value="@group.Id" />
                @Html.Hidden("plus", false)
                <button type="submit" class="btn btn-link waves-effect">
                  <i class="ion-chevron-down"></i>
                </button>
              </form>
              <form asp-controller="ProductGroup" asp-action="ChangeSort" style="display: inline-block;">
                <input type="hidden" name="id" value="@group.Id"/>
                @*<input type="hidden" name="plus" value="@true"/>*@
                @Html.Hidden("plus", true)
                <button type="submit" class="btn btn-link waves-effect">
                  <i class="ion-chevron-up"></i>
                </button>
              </form>
            </div>
            <div class="panel-heading_actions">
              <a asp-controller="ProductGroup" asp-action="Edit" asp-route-id="@group.Id" type="button" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                <i class="ion-edit"></i>
              </a>
              <form asp-controller="ProductGroup" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                <input type="hidden" value="@group.Id" name="id" />
                <button type="submit" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                  <i class="ion-trash-b"></i>
                </button>
              </form>
            </div>
          </div>

          @if (group.Products.Count > 0)
          {
              <div class="panel-body">
                <h4 class="header-title">Products:</h4>

                <div class="bootstrap-table">
                  <table class="table-bordered  table table-hover" style="display: table;">
                    <thead>
                      <tr>
                        <th>
                          <div class="th-inner ">Name</div>
                          <div class="fht-cell"></div>
                        </th>
                        <th>
                          <div class="th-inner ">Action</div>
                          <div class="fht-cell"></div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      @foreach (var product in group.Products)
                      {
                          <tr>
                            <td style="">@product.Name</td>
                            <td style="width: 110px;">
                              <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" type="button" class="btn btn-success waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                <i class="ion-edit"></i>
                              </a>
                              <form asp-controller="Product" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                                <input type="hidden" value="@product.Id" name="id" />
                                <button type="submit" class="btn btn-danger waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                  <i class="ion-trash-b"></i>
                                </button>
                              </form>
                            </td>
                          </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
          }


          <div class="panel-footer p-t-15 p-b-15">
            <a class="btn btn-primary waves-effect waves-light w-sm" asp-controller="Product" asp-action="Create" asp-route-categoryId="@Model.Id" asp-route-groupId="@group.Id">
              <span class="btn-label">
                <i class="ion-plus-round"></i>
              </span>
              Add Product
            </a>
          </div>

        </div>
      </div>
    </div>
}