@model Media

@{
    ViewData["Title"] = "Media Edit";
    ViewData["Menu"] = "Media";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <form class="form-horizontal" role="form" asp-controller="Media" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="DateCreate" />

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Link"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Link">
                                    <span class="error" asp-validation-for="Link"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right m-b-0">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}