@model List<Media>

@{
    ViewData["Title"] = "Media";
    ViewData["Description"] = "Media list!";
    ViewData["Menu"] = "Media";
}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading p-t-15 p-b-15">
                <a class="btn btn-primary waves-effect waves-light w-sm" asp-controller="Media" asp-action="Create">
                    <span class="btn-label">
                        <i class="ion-plus-round"></i>
                    </span>
                    Add media item
                </a>
            </div>
        </div>
    </div>
</div>

@if (Model.Count > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="bootstrap-table">
                        <table class="table-bordered  table table-hover" style="display: table;">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="th-inner ">Video</div>
                                        <div class="fht-cell"></div>
                                    </th>
                                    <th>
                                        <div class="th-inner ">Date create</div>
                                        <div class="fht-cell"></div>
                                    </th>
                                    <th>
                                        <div class="th-inner ">Action</div>
                                        <div class="fht-cell"></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="">
                                            <div class="video-response">
                                                @Html.Raw(item.Link)
                                            </div> 
                                        </td>
                                        <td style="">@item.DateCreate.ToLongDateString()</td>
                                        <td style="width: 110px;">
                                            <a asp-controller="Media" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-success waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                <i class="ion-edit"></i>
                                            </a>
                                            <form asp-controller="Media" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                                                <input type="hidden" value="@item.Id" name="id" />
                                                <button type="submit" class="btn btn-danger waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                    <i class="ion-trash-b"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/admin/assets/js/jquery.fitvids.js"></script>

    <script>
        $(document).ready(function () {
            $(".video-response").fitVids();
        });
    </script>
}