﻿@model Pride2.Areas.Admin.ViewModels.ProductEditViewModel

@{
    ViewData["Title"] = "Product edit";
    ViewData["Menu"] = "";
}

@if (Model.Product.Id != 0 && Model.Product.ProductConfiguration == null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading p-t-15 p-b-15">
                    <a class="btn btn-primary waves-effect waves-light w-sm" asp-controller="ProductConfiguration" asp-action="Create" asp-route-productId="@Model.Product.Id">
                        <span class="btn-label">
                            <i class="ion-plus-round"></i>
                        </span>
                        Add property
                    </a>
                </div>
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" asp-controller="Product" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Product.Id"/>
                        <input type="hidden" asp-for="CategoryId"/>
                        <input type="hidden" asp-for="GroupId"/>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Product.Name"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Product.Name">
                                    <span class="error" asp-validation-for="Product.Name"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Product.Info"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Product.Info">
                                    <span class="error" asp-validation-for="Product.Info"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Product.Discription"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Product.Discription">
                                    <span class="error" asp-validation-for="Product.Discription"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Product.Slug"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Product.Slug">
                                    <span class="error" asp-validation-for="Product.Slug"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Product.Price"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Product.Price">
                                    <span class="error" asp-validation-for="Product.Price"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Product.IsDiscount"></label>
                                <div class="col-md-10">
                                    <input type="checkbox" data-plugin="switchery" data-color="#5d9cec" class="form-control" asp-for="Product.IsDiscount">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Product.DiscountPrice"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Product.DiscountPrice">
                                    <span class="error" asp-validation-for="Product.DiscountPrice"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-right m-b-0">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Product.ProductConfiguration != null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-right">
                        <a asp-controller="ProductConfiguration" asp-action="Edit" asp-route-id="@Model.Product.ProductConfiguration.Id" type="button" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                            <i class="ion-edit"></i>
                        </a>
                        <form asp-controller="ProductConfiguration" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                            <input type="hidden" value="@Model.Product.ProductConfiguration.Id" name="id" />
                            <button type="submit" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                <i class="ion-trash-b"></i>
                            </button>
                        </form>
                    </div>
                    <h4 class="header-title m-t-0">
                        @($"{Model.Product.ProductConfiguration.Name}")
                    </h4>

                    @if (Model.Product.ProductConfiguration.ProductConfigurationItem.Count > 0)
                    {

                        <div class="bootstrap-table p-t-15">
                            <table class="table-bordered  table table-hover" style="display: table;">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="th-inner ">Name</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th>
                                            <div class="th-inner ">Action</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var configurationItem in Model.Product.ProductConfiguration.ProductConfigurationItem)
                                    {
                                        <tr>
                                            <td style="">@configurationItem.Name</td>
                                            <td style="width: 110px;">
                                                <a asp-controller="ProductConfigurationItem" asp-action="Edit" asp-route-id="@configurationItem.Id" type="button" class="btn btn-success waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                    <i class="ion-edit"></i>
                                                </a>
                                                <form asp-controller="ProductConfigurationItem" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                                                    <input type="hidden" value="@configurationItem.Id" name="id" />
                                                    <button type="submit" class="btn btn-danger waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                        <i class="ion-trash-b"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

                <div class="panel-footer p-t-15 p-b-15">
                    <a class="btn btn-primary waves-effect waves-light w-sm"
                       asp-controller="ProductConfigurationItem"
                       asp-action="Create"
                       asp-route-configurationId="@Model.Product.ProductConfiguration.Id">
                        
                        <span class="btn-label">
                            <i class="ion-plus-round"></i>
                        </span>
                        Add item
                    </a>
                </div>

            </div>
        </div>
    </div>
}


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/assets/plugins/switchery/dist/switchery.min.js"></script>
}

@section Styles{  
    <link href="~/admin/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
}