﻿@model Pride2.Models.Dealers.Dealer

@{
    ViewData["Title"] = "Shop Edit";
    ViewData["Menu"] = "Dealer";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" asp-controller="Dealer" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Name"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Name">
                                    <span class="error" asp-validation-for="Name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Surname"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Surname">
                                    <span class="error" asp-validation-for="Surname"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Email"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Email">
                                    <span class="error" asp-validation-for="Email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right m-b-0">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}