﻿@model List<Pride2.Models.Dealers.Dealer>
@{
    ViewData["Title"] = "Dealers";
    ViewData["Description"] = "List dealers!";
    ViewData["Menu"] = "Dealer";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading p-t-15 p-b-15">
                <a class="btn btn-primary waves-effect waves-light w-sm" asp-controller="Dealer" asp-action="Create">
                    <span class="btn-label">
                        <i class="ion-plus-round"></i>
                    </span>
                    Add dealer
                </a>
                <a class="btn btn-success waves-effect waves-light w-sm m-l-10" asp-controller="Regions" asp-action="Index">
                    Regions
                </a>
            </div>
        </div>
    </div>
</div>

@foreach (var dealer in Model)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-right">
                        <a asp-controller="Dealer" asp-action="Edit" asp-route-id="@dealer.Id" type="button" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                            <i class="ion-edit"></i>
                        </a>
                        <form asp-controller="Dealer" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                            <input type="hidden" value="@dealer.Id" name="id" />
                            <button type="submit" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                <i class="ion-trash-b"></i>
                            </button>
                        </form>
                    </div>
                    <h4 class="header-title m-t-0">
                        @($"{dealer.Name} {dealer.Surname}")
                    </h4>
                    <p class="text-muted m-b-10 font-13">
                        <a href="mailto:@dealer.Email">@dealer.Email</a>
                    </p>

                    @if (dealer.Shops.Count > 0)
                    {
                        <hr />
                        <h4 class="header-title">Shops:</h4>

                        <div class="bootstrap-table">
                            <table class="table-bordered  table table-hover" style="display: table;">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="th-inner ">Name</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th>
                                            <div class="th-inner ">City</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th>
                                            <div class="th-inner ">Address</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th>
                                            <div class="th-inner ">Action</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var shop in dealer.Shops)
                                    {
                                        <tr>
                                            <td style="">@shop.Name</td>
                                            <td style="">@shop.City.Name</td>
                                            <td style="">@shop.Address</td>
                                            <td style="width: 110px;">
                                                <a asp-controller="Shops" asp-action="Edit" asp-route-id="@shop.Id" type="button" class="btn btn-success waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                    <i class="ion-edit"></i>
                                                </a>
                                                <form asp-controller="Shops" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                                                    <input type="hidden" value="@shop.Id" name="id" />
                                                    <button type="submit" class="btn btn-danger waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                        <i class="ion-trash-b"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>

                <div class="panel-footer p-t-15 p-b-15">
                    <a asp-controller="Shops" asp-action="Create" asp-route-dealerId="@dealer.Id" class="btn btn-primary waves-effect waves-light w-sm">
                        <span class="btn-label">
                            <i class="ion-plus-round"></i>
                        </span>
                        Add shop
                    </a>
                </div>

            </div>
        </div>
    </div>
}


