﻿@model Pride2.Areas.Admin.ViewModels.StockChangeQuantityViewModel

@{
    ViewData["Title"] = "Stock";
    ViewData["Menu"] = "Stock";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" asp-controller="Stock" asp-action="ChangeQuantity" method="post">
                        <input type="hidden" asp-for="Stock.Id"/>
                        <input type="hidden" asp-for="IsPlus"/>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Value"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Value">
                                    <span class="error" asp-validation-for="Value"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-right m-b-0">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}