﻿@model IEnumerable<IGrouping<string, Stock>>

@{
    ViewData["Title"] = "Stock";
    ViewData["Menu"] = "Stock";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading p-t-15 p-b-15">
                <a class="btn btn-primary waves-effect waves-light w-sm" asp-controller="Stock" asp-action="ProductsList">
                    <span class="btn-label">
                        <i class="ion-plus-round"></i>
                    </span>
                    Add element
                </a>
            </div>
        </div>
    </div>
</div>

@foreach (var group in Model)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="header-title m-t-0">
                        @($"{group.Key}")
                    </h4>

                    @if (group.Any())
                    {
                        <hr />

                        <div class="bootstrap-table">
                            <table class="table-bordered  table table-hover" style="display: table;">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="th-inner ">Name</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th>
                                            <div class="th-inner ">Quantity</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th>
                                            <div class="th-inner ">Action</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in group)
                                    {
                                        <tr>
                                            <td style="vertical-align: middle">
                                                @($"{product.Product.Name}")
                                                @( product.ProductConfigurationItem == null ? string.Empty : $"({product.ProductConfigurationItem.Name})")
                                            </td>
                                            <td style="vertical-align: middle">@product.Quantity</td>
                                            <td style="width: 110px; text-align: center">
                                                <a
                                                    asp-controller="Stock"
                                                    asp-action="ChangeQuantity"
                                                    asp-route-id="@product.Id"
                                                    asp-route-plus="@true"
                                                    class="btn btn-success waves-effect waves-light btn-sm"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title=""
                                                    data-original-title="Plus quantity">
                                                        <i class="ion-plus"></i>
                                                </a>
                                                <a
                                                    asp-controller="Stock"
                                                    asp-action="ChangeQuantity"
                                                    asp-route-id="@product.Id"
                                                    asp-route-plus="@false"
                                                    class="btn btn-warning waves-effect waves-light btn-sm m-l-10 @(product.Quantity < 1 ? "disabled": "")"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title=""
                                                    data-original-title="Plus quantity">
                                                        <i class="ion-minus"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}