﻿@model IEnumerable<IGrouping<string, Product>>
@{
    ViewData["Title"] = "Stock";
    ViewData["Menu"] = "Stock";
}

@foreach (var group in Model)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="header-title m-t-0">
                        @($"{group.Key}")
                    </h4>

                    @if (group.Any())
                    {
                        <hr />

                        <div class="bootstrap-table">
                            <table class="table-bordered  table table-hover" style="display: table;">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="th-inner ">Name</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                        <th>
                                            <div class="th-inner ">Action</div>
                                            <div class="fht-cell"></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in group)
                                    {
                                        if (product.ProductConfiguration?.ProductConfigurationItem.Count() > 0)
                                        {
                                            foreach (var item in product.ProductConfiguration.ProductConfigurationItem)
                                            {
                                                <tr>
                                                    <td style="vertical-align: middle">@($"{product.Name} ({item.Name})")</td>
                                                    <td style="width: 50px; text-align: center; height: 47px;">
                                                        @if (item.Stock == null)
                                                        {
                                                            <form asp-controller="Stock" asp-action="AddProductToStock" method="post" style="display: inline-block" class="">
                                                                <input type="hidden" value="@product.Id" name="id" />
                                                                <input type="hidden" value="@item.Id" name="configId" />
                                                                <button type="submit" class="btn btn-success waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to stock">
                                                                    <i class="ion-plus"></i>
                                                                </button>
                                                            </form>
                                                        }
                                                    </td>
                                                </tr>
                                            }

                                        }
                                        else
                                        {
                                            <tr>
                                                <td style="vertical-align: middle">@product.Name</td>
                                                <td style="width: 50px; text-align: center; height: 47px;">
                                                    @if (product.Stocks.Count == 0)
                                                    {
                                                        <form asp-controller="Stock" asp-action="AddProductToStock" method="post" style="display: inline-block" class="">
                                                            <input type="hidden" value="@product.Id" name="id" />
                                                            <button type="submit" class="btn btn-success waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to stock">
                                                                <i class="ion-plus"></i>
                                                            </button>
                                                        </form>
                                                    }
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}