﻿@model News

@{
    ViewData["Title"] = "News Edit";
    ViewData["Menu"] = "News";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">

                    @if (Model.Image != null)
                    {
                        <img src="@($"~/upload/news/{Model.Id}/{Model.Image}")" alt="image" class="img-responsive m-b-20">
                    }

                    <form class="form-horizontal" role="form" asp-controller="News" asp-action="Edit" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id"/>
                        <input type="hidden" asp-for="Image"/>
                        <input type="hidden" asp-for="DateTime"/>
                        
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Image"></label>

                                <div class="col-md-10">
                                    <input type="file" class="filestyle" data-buttonname="btn-white" name="image">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Title"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Title">
                                    <span class="error" asp-validation-for="Title"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Info"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Info">
                                    <span class="error" asp-validation-for="Info"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="ShortArticle"></label>
                                <div class="col-md-10">
                                    <textarea type="text" class="form-control" asp-for="ShortArticle"></textarea>
                                    <span class="error" asp-validation-for="ShortArticle"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Article"></label>
                                <div class="col-md-10">
                                    <textarea type="text" class="form-control" asp-for="Article" style="height: 300px"></textarea>
                                    <span class="error" asp-validation-for="Article"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right m-b-0">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <script src="~/admin/assets/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>
}