﻿@model List<Pride2.Models.Dealers.Region>

@{
    ViewData["Title"] = "Regions";
    ViewData["Description"] = "List regions !";
    ViewData["Menu"] = "Dealer";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading p-t-15 p-b-15">
                <a class="btn btn-primary waves-effect waves-light w-sm" asp-controller="Regions" asp-action="Create">
                    <span class="btn-label">
                        <i class="ion-plus-round"></i>
                    </span>
                    Add region
                </a>
            </div>
        </div>
    </div>
</div>

@foreach (var region in Model)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet">
                <div class="portlet-heading portlet-default">
                    <h3 class="portlet-title text-dark">
                        @region.Name
                    </h3>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#@region.Id" class="collapsed" aria-expanded="false"><i class="ion-minus-round"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="@region.Id" class="panel-collapse collapse" aria-expanded="true">
                    <div class="panel-heading p-t-15 p-b-15">
                        <a class="btn btn-primary waves-effect waves-light w-sm" asp-controller="City" asp-action="Create" asp-route-regionId="@region.Id">
                            <span class="btn-label">
                                <i class="ion-plus-round"></i>
                            </span>
                            Add city
                        </a>
                        <div class="pull-right">
                            <a asp-controller="Regions" asp-action="Edit" asp-route-id="@region.Id" type="button" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                <i class="ion-edit"></i>
                            </a>
                            <form asp-controller="Regions" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                                <input type="hidden" value="@region.Id" name="id"/>
                                <button type="submit" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                    <i class="ion-trash-b"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                    @if (region.Cities.Count > 0)
                    {
                        <div class="portlet-body">
                            <ul class="list-group">

                                @foreach (var city in region.Cities)
                                {
                                    <li class="list-group-item clearfix">
                                        <span class="m-t-5" style="display: inline-block">@city.Name</span> 

                                        <div class="pull-right">
                                            <a asp-controller="City" asp-action="Edit" asp-route-id="@city.Id" type="button" class="btn btn-success waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                <i class="ion-edit"></i>
                                            </a>
                                            <form asp-controller="City" asp-action="Delete" method="post" style="display: inline-block" class="m-l-10">
                                                <input type="hidden" value="@city.Id" name="id"/>
                                                <button type="submit" class="btn btn-danger waves-effect waves-light btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                                                    <i class="ion-trash-b"></i>
                                                </button>
                                            </form>
                                        </div>

                                    </li>
                                }

                            </ul>
                        </div>
                    }
                    
                </div>
            </div>
            
        </div>
    </div>
}