﻿@model Pride2.Areas.Admin.ViewModels.ProductConfigurationEditViewModel
@{
    ViewData["Title"] = "Configuration edit";
    ViewData["Menu"] = "";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" asp-controller="ProductConfiguration" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="ProductConfiguration.Id" />
                        <input type="hidden" asp-for="ProductId" />

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="ProductConfiguration.Name"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="ProductConfiguration.Name">
                                    <span class="error" asp-validation-for="ProductConfiguration.Name"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-right m-b-0">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
