﻿@model Pride2.Areas.Admin.ViewModels.ShopEditViewModel

@{
    ViewData["Title"] = "Dealer Edit";
    ViewData["Menu"] = "Dealer";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" asp-controller="Shops" asp-action="Edit" method="post">
                        <input type="hidden" asp-for="Shop.Id" />
                        <input type="hidden" asp-for="DealerId" />

                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Shop.Name"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Shop.Name">
                                    <span class="error" asp-validation-for="Shop.Name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Shop.Address"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Shop.Address">
                                    <span class="error" asp-validation-for="Shop.Address"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Shop.WorkingTime"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Shop.WorkingTime">
                                    <span class="error" asp-validation-for="Shop.WorkingTime"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Shop.CoordX"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Shop.CoordX">
                                    <span class="error" asp-validation-for="Shop.CoordX"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="Shop.CoordY"></label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" asp-for="Shop.CoordY">
                                    <span class="error" asp-validation-for="Shop.CoordY"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-2 control-label" asp-for="CityId"></label>
                                <div class="col-md-10">
                                    <select class="form-control" asp-for="CityId">
                                        @foreach (var city in Model.Cities)
                                        {
                                            <option value="@city.Id">@city.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right m-b-0">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}