﻿@model List<Category>

<li class="text-muted menu-title">Products</li>
@foreach (var category in Model)
{
    <li>
        <a class="waves-effect" asp-controller="Category" asp-action="Index" asp-route-slug="@category.Slug" ><i class="ti-music-alt"></i><span>@category.Name</span> </a>
    </li>
}